{
    "_bot": {
        "_commands": {
            # Every module here will be automatically loaded
            # Every module has an 'enabled' attribute, if the attribute is set to false, 
            # only developers can use the command.

            "class": {
                "_announce_channel_name": "Annonces",
                "_default_texts": [
                    "Annonces",
                    "G\u00e9n\u00e9ral",
                    "Jeux",
                    "Cours"
                ],
                "_default_vocals": [
                    "Vocal 1",
                    "Vocal 2"
                ],
                "_delegate_role_color": "0xe67e22",
                "_delegate_role_prefix": "D\u00e9l\u00e9gu\u00e9s",
                "_role_color": "0x2889da",
                "enabled": false,
                "roles": []
            },

            "game": {
                "_auto_assign_refresh_delay": 20,
                "_category_id": 0,
                "_role_color": "0x1f8b4c",
                "enabled": false,
                "games_roles": {},
                "list_max_lines": 10
            },

            "iam": {
                "_isartian_role_id": 0,
                "assignable_roles": [
                    {
                        "id": 123,
                        "dependencies": [123, 123, 132],
                        "conflicting" : [123, 123, 132]
                    },
                    ...
                ],
                "enabled": false
            },

            "module": {
                "enabled": false
            },

            "test": {
                "enabled": false
            },

            "starboard" : {
                "enabled": false,
                "channel_id" : 0,
                "min_stars" : 3,
                "stars" : {
                    "0"  : ":star:",
                    "5"  : ":star2:",
                    "15" : ":dizzy:",
                    "25" : ":sparkles:",
                    "50" : ":comet:"
                }
            }
        },

        # Developers discord id
        "_developers_id": [0],

        # Bot prefix
        "_prefix": "!",

        # Main server id, this way the bot will ignore every other servers
        "_server_id": 0,

        # Discord connection token, can be found here : https://discordapp.com/developers/applications/
        "_token": ""
    },

    # If debug is set to true, devs will be able to bypass every admin roles limitations
    "_debug": true,

    # Enables logs
    "_logs": true,

    # Enables console logging (enabling '_logs' is required for it to work)
    "_console_log" : true
}